/* Universal settings */

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: wrap column;
}

.bottomsignup a {
    color: white;
}

a:link {
    color:black;
}

a:hover {
    color: orange;
}

a {
    text-decoration: none;
}

/* Universal settings above*/


/* header stuff below */

.headercontainer{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
    justify-content: space-around;
    height: fit-content;
    padding: 20px;
    padding-top: 5px;
}


.headerlinkscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.leftlinks {
    display: flex;
    flex-direction: row;
   
}

.leftlinks a:hover {
    color: orange;
}

.leftlinks a{
    font-size: 24px;
    color: #F9FAF8;
}


.rightlinks {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.rightlinks a:hover{
    color: orange;
}

.rightlinks a{
    font-size: 18px;
    color: #E5E7EB;
}



.headerinformationcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    flex: 1 1 0;
}

.headerleftcontainer {
    display: flex;
    flex-flow: wrap row;
    padding: 10px;
    width: 40%;
}

.headerimage {
    display: flex;
    width: 400px;
    height: auto;
}

.lefttitle {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.bannersecondarytext,
.headersecondarytext {
    font-size: 16px;
    color: #E5E7EB;
    margin: 2px 0px;
}

.signup {
    padding: 3px 10px;
    
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    margin: 5px;
    
}

.signup a{
    color: #F9FAF8;
}

.signup a:hover{
    color: orange;
}

/* header stuff above */

/* second section stuff below */

.secondsectioncontainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 50px 0px;

    
}

.secondtitle {
    display: flex;
    flex-flow: nowrap column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px 35px 0px;
    justify-self: flex-start;

    font-size: 36px;
    font-weight: bold;
    color: #1F2937;

}

.webpagescontainer {
    display: flex;
    flex-flow: wrap row;
    flex: 1;
    gap: -8px;
}

.webpagesimages {
    width: 200px;
    height: auto;
}

.containerone,
.containertwo,
.containerthree,
.containerfour {
    display: flex;
    flex-flow: wrap column;
    text-align: center;
    align-items: center;
    
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: auto;
    flex: 1 1 auto;

}


.thirdsection {
    display: flex;
    flex-flow: wrap column;
    padding: 65px;
    margin-top: 40px;
    margin-bottom: 25px;

    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

span {
    align-self: flex-end;
    font-weight: bold;
}


.fourthsectioncontainer {
    display: flex;
    flex-flow: wrap column;
    padding: 40px;
    margin: 40px

}

.signupbannercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  

    background-color: #3882F6;
    padding: 60px;
    border: none;
    border-radius: 15px;
    color: white;

    font-size: 20px;
}

.bottomsignup {
    background-color: #3882F6;
    border: 2px solid white;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
}


.bannersecondarytext {
    display: flex;
    margin-right: 5px;
    flex-wrap: wrap;

}

.footercontainer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;

    justify-content: space-around;
    height: fit-content;
    padding: 20px;

}